
<ion-view view-title="Mon agenda">
  <!--<ion-content class="padding">
  <div ng-repeat="event in events" class="card">
    <div class="item item-divider">
      {{event.Libelle}}
    </div>
    <div class="item item-text-wrap">
      {{event.description}} </br>
      Début: {{event.dateDebut}} - {{event.heureDebut}}</br>
      Fin: {{event.dateFin}} - {{event.heureFin}} </br>
      Lieu: {{event.lieu}}
    </div>
    <div class="item item-divider">
      <button class='button button-small button-positive' ng-click='valider({{event.id}})'>Je participe</button>
      <button class='button button-small button-assertive' ng-click='refuser({{event.id}})'>Je ne participe pas</button>
    </div>
  </div>
  </ion-content>-->
  <ion-content>
  <div>putian ça marche pas</div>
  </ion-content> 
</ion-view>