<ion-view view-title="Bienvenue">
  <ion-content>
    <div class="loginForm">
      <label class="item item-input item-floating-label">
        <span class="input-label">Adresse Email</span>
        <input id="mail" type="text" placeholder="Adresse Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mot de passe</span>
        <input id="pwd" type="password" placeholder="Mot de passe">
      </label>
      <button ng-Click='connexion(loginForm)' class="button button-block button-positive">
      Connexion
      </button>
    </div>
  </ion-content>
</ion-view>