<ion-view view-title="Paramètres">
  <ion-content class="padding">
  <div>Oubliez vos identifiant pour les supprimer de la mémoire de votre téléphone</div>
  <button class="button button-outline button-block button-positive" ng-click='supprId()'>
  	<div class="paramText">Oublier mes identifiants</div>
  </button>
  <div>Se déconnecter... ça sert à rien mais j'ai trouvé ça joli</div>
	<button class="button button-outline button-block button-positive" ng-click='deco()'>
  	<div class="paramText">Se déconnecter</div>
  </button>
  <div>Actualiser les infos, parceque le faire automatiquement c'est chaud!</div>
  <button class="button button-outline button-block button-positive" ng-click='actualiser()'>
    <div class="paramText">Actualiser</div>
  </button>
  </ion-content>
 </ion-view>