  <ion-tabs class="tabs-striped tabs-icon-top tabs-color-positive">

      <ion-tab title="Agenda"  icon-off="ion-android-calendar" icon-on="ion-android-calendar" href="#/tab/event">
        <ion-nav-view name="tab-event"></ion-nav-view>
      </ion-tab>
      
      <ion-tab title="Nouveaux"  icon-off="ion-android-time" icon-on="ion-android-time" href="#/tab/incoming">
        <ion-nav-view name="tab-new"></ion-nav-view>
      </ion-tab>
      
      <ion-tab title="Paramètres"  icon-on="ion-android-settings" icon-off="ion-android-settings" href="#/tab/param">
      <ion-nav-view name="tab-param"></ion-nav-view>
      </ion-tab>

  </ion-tabs>
  